@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  html {
    color-scheme: light;
    scroll-padding-top: var(--spacing-header);
  }

  html.dark {
    color-scheme: dark;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }
}

html [data-sonner-toaster] {
  font-family: var(--font-sans);
}
